
body {
	background-color: #fff;
	margin: 40px;
	font-family: Lucida Grande, Verdana, Sans-serif;
	font-size: 14px;
	color: #4F5155;
}

a {
 	color: #003399;
 	background-color: transparent;
 	font-weight: normal;
	text-decoration: none;

}

h1 {
	color: #444;
	background-color: transparent;
	border-bottom: 1px solid #D0D0D0;
	font-size: 16px;
	font-weight: bold;
	margin: 24px 0 2px 0;
	padding: 5px 0 6px 0;
}

code {
	font-family: Monaco, Verdana, Courier, Sans-serif;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

/* layout */
.wrap {
	
}

.clear {
	clear: both;
}

#main-column {
	padding-left: 10px;
	margin-left: 190px;
	border-left: 1px solid #ddd;
}

#left-column {
	float: left;
	width: 175px !important;
	padding-left: 10px;
}


#left-column h2  {
	margin-top: 0px;
	background-color: #393939;
	padding: 5px;
	border-radius: 5px;
	background: #45484d; /* old browsers */
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* webkit */
	color: #ddd;
}

#left-column h2 a {
	font-weight: bold;
	color: #ddd;
}

#left-column h3 {
	font-size: 1em;
	border-bottom: 1px solid #ddd;
	margin-bottom: -5px;
}

#left-column ul {
	list-style: none;
	padding: 0 0;
}

#left-column li {
	padding: 2px 5px;
	border-bottom: 1px solid #ddd;
}

#left-column li a {
	font-size: 0.9em;
}

#footer {
	clear: both;
	border: 1px solid #ddd;
	text-align: center;
	text-shadow: 0px 1px 0px #e5e5ee;
	font-size: 0.8em;
	color: #808080; 
	padding: 10px 0;
	margin: 10px 0;
	border-radius: 5px;
	background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#F9F9F9), to(#E3E3E3));
	background: -moz-linear-gradient(top,  #F9F9F9,  #e3e3e3);
}

#footer a {
	color: #333;
}

/* forms */
input[type=submit], button {
    border: 1px solid #a0a0a0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#F9F9F9), to(#E3E3E3));
	background: -moz-linear-gradient(top,  #F9F9F9,  #e3e3e3);
}

input {
	padding: 3px;	
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #a0a0a0;
}

textarea {
	padding: 5px;
	font-family: Monaco, Courier, Monospace;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #a0a0a0;
}

label {
	font-size: 0.9em;
}

/* tables */
table
{
	border-collapse:collapse;
	width:100%
}
table, th, td
{
	border: 1px solid #ddd;
}
td {
	text-align: left;
	vertical-align: bottom;
	padding: 3px;
}

/* wiki stuff */
.wiki-page {
	
}

.wiki-page h3, .wiki-page h2 {
  border-bottom: 1px solid #ddd;
}

#wiki-tools {
	float: right;
	font-size: 0.9em;
	padding: 5px 5px;
	border-radius: 5px;
	border: 1px solid #ddd;
	background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#F9F9F9), to(#E3E3E3));
	background: -moz-linear-gradient(top,  #F9F9F9,  #e3e3e3);
  	-moz-box-shadow: 5px 5px 5px #ccc;
  	-webkit-box-shadow: 5px 5px 5px #ccc;
	box-shadow: 5px 5px 5px #ccc;
}

.odd {
	background-color: #ddd;
}

#wiki-tools a {
	color: #666;
}

/* diff */
span.ins {
	display: block; 
	background-color: #9f9;
}
span.del {
	display: block; 
	background-color: #f99;
}