
body {
 background-color: #fff;
 margin: 40px;
 font-family: Lucida Grande, Verdana, Sans-serif;
 font-size: 14px;
 color: #4F5155;
}

a {
 color: #003399;
 background-color: transparent;
 font-weight: normal;
}

h1 {
 color: #444;
 background-color: transparent;
 border-bottom: 1px solid #D0D0D0;
 font-size: 16px;
 font-weight: bold;
 margin: 24px 0 2px 0;
 padding: 5px 0 6px 0;
}

code {
 font-family: Monaco, Verdana, Sans-serif;
 font-size: 12px;
 background-color: #f9f9f9;
 border: 1px solid #D0D0D0;
 color: #002166;
 display: block;
 margin: 14px 0 14px 0;
 padding: 12px 10px 12px 10px;
}

a {
	text-decoration: none;
}

/* layout */
.wrap {
	
}

.clear {
	clear: both;
}

input[type=submit], button {
    border: 1px solid #a0a0a0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#F9F9F9), to(#E3E3E3));
	background: -moz-linear-gradient(top,  #F9F9F9,  #e3e3e3);;
}

#main-column {
}

#right-column {
	float: right;
	width: 200px !important;
	padding-left: 10px;
}

#footer {
	clear: both;
	border: 1px solid #ddd;
	text-align: center;
	font-size: 0.8em;
	color: #808080; 
	padding: 10px 0;
	margin: 10px 0;
	border-radius: 5px;
	background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#F9F9F9), to(#E3E3E3));
	background: -moz-linear-gradient(top,  #F9F9F9,  #e3e3e3);;
}

#footer a {
	color: #333;
}

/* wiki stuff */
#wiki-tools {
	float: right;
	font-size: 0.9em;
	padding: 5px 5px;
	border-radius: 5px;
	border: 1px solid #ddd;
	background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#F9F9F9), to(#E3E3E3));
	background: -moz-linear-gradient(top,  #F9F9F9,  #e3e3e3);;
}

#wiki-tools a {
	color: #333;
}

/* diff */
span.ins {
	display: block; background-color: #9f9;
}
span.del {
	display: block; background-color: #f99;
}